AndroidApp/bin/
AndroidApp\gen/
AndroidApp/gen/com/waldm/proverbica/
AndroidStudioApp/build/
AndroidStudioApp/app/build/
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
AndroidStudioApp/.idea/workspace.xml
AndroidStudioApp/.idea/libraries/
